<div *ngIf="infrastructureCommonTable.tupleList">
  <span class="w-100 font-size-2rem" *ngFor="let tuple of infrastructureCommonTable.tupleList">
    <span class="font-size-h2">{{tuple[0]}}:</span>&nbsp;{{tuple[1]}}<br />
  </span>
</div>
<br />
<div *ngIf="infrastructureCommonTable.tableDef">
  <div *ngFor="let table of infrastructureCommonTable.tableDef">
    <div attr.id="{{'accordion-' + table}}">
      <div attr.id="{{'card-' + table}}" class="card">
        <div class="card-header" attr.id="{{'card-header' + table}}">
          <h3 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" attr.data-target="{{'#collapse' + table}}" aria-expanded="false" attr.aria-controls="{{'#collapse' + table}}" (click)="infrastructureCommonTable.cardPress(table)">
              <span class="w-100 font-size-2rem">
                <span class="font-size-h2" attr.id="{{'card-header-' + table}}">
                  {{infrastructureCommonTable.cardTitle? infrastructureCommonTable.cardTitle : table}}&nbsp;
                </span>
                <span class="fas fa-angle-right" attr.id="{{'arrow' + table}}"></span>
                <br />
              </span>
            </button>
          </h3>
        </div>
        <div attr.id="{{'collapse' + table}}" class="collapse" attr.data-parent="{{'#accordion-' + table}}">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="table-info">
                  <tr>
                    <th scope="col" *ngFor="let column of infrastructureCommonTable.tableTupleList[infrastructureCommonTable.findIndexInColumnDef(table)][1]">
                      {{column}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngFor="let row of infrastructureCommonTable.tableTupleList[infrastructureCommonTable.findIndexInColumnDef(table)][2]">
                  <tr>
                    <td *ngFor="let column of infrastructureCommonTable.tableTupleList[infrastructureCommonTable.findIndexInColumnDef(table)][1]">
                      {{row[column]}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
