<div class="container-fluid col-xl-4 col-lg-5 col-md-7 col-sm-9 col-12 no-gutters">
  <div class="input-group my-2" tabindex="0" data-toggle="tooltip"
    attr.title="{{infrastructureApi.DescDict.Parameters['startDate']}}">
    <div class="input-group-prepend">
      <label class="input-group-text">startDate:&nbsp;</label>
    </div>
    <input type="date" [(ngModel)]="infrastructureApi.QueryPrameters.startDate">
  </div><br />

  <div class="input-group my-2" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['endDate']}}">
    <div class="input-group-prepend">
      <label class="input-group-text">endDate:&nbsp;</label>
    </div>
    <input type="date" [(ngModel)]="infrastructureApi.QueryPrameters.endDate">
  </div><br />

  <div class="w-100 input-group" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['speed']}}">
      <div class="input-group-prepend">
        <label class="input-group-text">speed</label>
      </div>
      <input type="text" class="form-control" [(ngModel)]="infrastructureApi.QueryPrameters.speed">
    </div><br />

  <div class="w-100 input-group" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['halfAngle']}}">
    <div class="input-group-prepend">
      <label class="input-group-text">halfAngle</label>
    </div>
    <input type="text" class="form-control" [(ngModel)]="infrastructureApi.QueryPrameters.halfAngle">
  </div><br />

  <div class="w-100 input-group" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['keyword']}}">
    <div class="input-group-prepend">
      <label class="input-group-text">keyword</label>
    </div>
    <input type="text" class="form-control" [(ngModel)]="infrastructureApi.QueryPrameters.keyword">
  </div><br />
</div>



