<div class="container-fluid jumbotron-fluid mx-auto d-block pr-5 pb-5 mt-5">
  <app-filters-template></app-filters-template>
  <div [ngSwitch]="infrastructureApi.baseService">
    <app-neows-feed-template *ngSwitchCase="'Neo - Feed'"></app-neows-feed-template>
    <app-neows-browse-template *ngSwitchCase="'Neo - Browse'"></app-neows-browse-template>
    <app-neows-neo-sentry-template *ngSwitchCase="'Neo - Sentry'"></app-neows-neo-sentry-template>
    <app-neows-stats-template *ngSwitchCase="'Neo - Stats'"></app-neows-stats-template>
    <app-neows-browse-by-asteroid-id-template *ngSwitchCase="'Neo - Browse by Asteroid ID'">Neo - Browse by Asteroid ID</app-neows-browse-by-asteroid-id-template>
  </div>
</div>
