
<h1 class="display-1 w-100"><b>{{baseServiceName}}</b></h1>
<h1 class="display-4 w-100 mb-4">{{baseService}}</h1>
<div class="container-fluid row">
  <div class="w-100 my-2 row">
    <span class="col-1 align-self-center">Page:&nbsp;</span><input type="text" class="mr-4" [(ngModel)]="infrastructureApi.QueryPrameters.page">
  </div>
  <div class="w-100 my-2 row">
    <span class="col-1 align-self-center">Size:&nbsp;</span><input type="text" class="my-2" [(ngModel)]="infrastructureApi.QueryPrameters.size"><span class="col-1 align-self-center">&nbsp;/&nbsp;{{maxPageNo}}</span>
  </div>
  <button type="button" class="btn btn-info mr-4" (click)="reloadNeoWsBrowsePrevious()">Previous</button>
  <button type="button" class="btn btn-info mr-4" (click)="reloadNeoWsBrowse()">Show</button>
  <button type="button" class="btn btn-info mr-4" (click)="reloadNeoWsBrowseNext()">Next</button>
</div>
<span class="row w-100 font-size-2rem">
    <span class="font-size-h2">Total Element:</span>&nbsp;{{totalNoOfElements}}
</span>

<div class="table-responsive my-5">
    <table class="table table-bordered">
      <thead class="table-info">
        <tr>
          <th scope="col" *ngFor="let column of columnDef">{{column}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let row of this.serviceResponseBodyList[this.baseService].near_earth_objects">
        <tr>
            <td *ngFor="let column of columnDef">{{row[column]}}</td>
          </tr>
      </tbody>
    </table>
  </div>
