<div class="container-fluid jumbotron-fluid mx-auto d-block px-5 ml-4">
  <div class="row" *ngFor="let baseService of baseServiceList">
      <h1 class="display-1 w-100"><b>{{infrastructureApi.baseServiceName}}</b></h1>
      <h1 class="display-4 w-100 mb-4">{{infrastructureApi.baseService}}</h1>
        <input type="date" class="mr-4" id='date' [(ngModel)]="infrastructureApi.QueryPrameters.date">
    <button type="button" class="btn btn-info" (click)="reloadAPoD()">Show</button>
    <span class="w-100"></span>
    <div class="mt-2 ml-2" *ngIf="serviceResponseBodyList[baseService].media_type==='image'">
      <input type="checkbox" [(ngModel)]="infrastructureApi.QueryPrameters.hd">&nbsp;Show HD Image
    </div>
    <h2 class="w-100 mt-3 mb-5">{{serviceResponseBodyList[baseService].title}}</h2>
    <div class="row">
      <img id="APoD-img" [src]="serviceResponseBodyList[baseService].url" class="img-fluid border rounded-lg col-auto p-3 d-block col-sm" *ngIf="serviceResponseBodyList[baseService].media_type === 'image' && !infrastructureApi.QueryPrameters.hd">
      <iframe type="text/html" width="750" height="500 " class="col-sm mx-auto" [src]="serviceResponseBodyList[baseService].url" frameborder="0" *ngIf="serviceResponseBodyList[baseService].media_type === 'video'"></iframe>
      <img id="APoD-hd-img" [src]="serviceResponseBodyList[baseService].hdurl" class="img-fluid max-width-100vw col-sm border rounded-lg p-3 mx-auto d-block" *ngIf="serviceResponseBodyList[baseService].media_type === 'image' && infrastructureApi.QueryPrameters.hd">
      <span class="col-sm mx-auto my-auto p-5">
        <p class="text-justify">{{serviceResponseBodyList[baseService].explanation}}</p>
        <span class="w-100" *ngIf="serviceResponseBodyList[baseService].copyright">
          <b>Copyright:</b>&nbsp;{{serviceResponseBodyList[baseService].copyright}}
        </span>
      </span>
    </div>
  </div>
</div>
