<div class='container-fluid jumbotron-fluid mx-auto d-block m-5 p-5'>
  <h1><b>{{baseServiceName}}</b></h1>
  <div *ngFor="let baseService of baseServiceList">
    <h1>{{baseService}}</h1><br />
    <input type="date" id='date' [(ngModel)]="infrastructureApi.QueryPrameters.date"><br /><br />
    <button type="button" class="btn btn-info" (click)="reloadAPoD()">Reload Response</button><br /><br />
    {{serviceResponseBodyList[baseService].title}}<br />
    {{serviceResponseBodyList[baseService].explanation}}<br />
    <input type="checkbox" [(ngModel)]="showHdImage">Show HD Image<br /><br />
    <img [src]="serviceResponseBodyList[baseService].url" class="img-fluid border rounded-lg p-3 mx-auto d-block" *ngIf="serviceResponseBodyList[baseService].media_type==='image' && !showHdImage">
    <img [src]="serviceResponseBodyList[baseService].hdurl" class="img-fluid border rounded-lg p-3 mx-auto d-block" *ngIf="serviceResponseBodyList[baseService].media_type === 'image' && showHdImage">
    <iframe id="youtubeplayer" type="text/html" width="640" height="360" [src]="serviceResponseBodyList[baseService].url" frameborder="0" *ngIf="serviceResponseBodyList[baseService].media_type === 'video'"></iframe>
  </div>
</div>
