<div *ngIf="infrastructureCommonFilter.filterParameters">
  <!-- parameterName -->
  <div *ngFor="let parameterName of getPrameterNameList()">
    <div class="input-group my-2" attr.title="{{infrastructureApi.DescDict.Parameters[parameterName]}}" *ngIf="!isCheckbox(parameterName)">
      <!-- Preapend -->
      <div class="input-group-prepend" *ngIf="getPramLabelText(parameterName, 'prepend')">
        <label class="input-group-text">{{getPramLabelText(parameterName, 'prepend')}}</label>
      </div>

      <!-- Element -->
      <input attr.type="{{getPramType(parameterName)}}" attr.id="{{parameterName}}" [(ngModel)]="infrastructureApi.QueryPrameters[parameterName]" *ngIf="isNormalQueryPramElement(parameterName)">
      <input attr.type="{{getPramType(parameterName)}}" attr.id="{{parameterName}}" [(ngModel)]="infrastructureApi.UrlAdderPrameters[parameterName].DefaultValue" *ngIf="!isQueryStringPram(parameterName)">
      <select class="custom-select" [(ngModel)]="infrastructureApi.QueryPrameters[parameterName]" *ngIf="isSelect(parameterName)">
        <option *ngFor="let option of getChoices(parameterName)">{{option}}</option>
      </select>

      <!-- Append -->
      <div class="input-group-append" *ngIf="getPramLabelText(parameterName, 'append')">
        <label class="input-group-text">{{getPramLabelText(parameterName, 'append')}}</label>
      </div>
    </div>
    <div *ngIf="isCheckbox(parameterName)">
      <input type="checkbox" [(ngModel)]="infrastructureApi.QueryPrameters[parameterName]" (click)="reset([getPramLabelText(parameterName, 'prepend')])">
      <span>&nbsp;{{getPramLabelText(parameterName, 'append')}}</span>
    </div>
  </div>
</div>
