<div class="container-fluid col-xl-4 col-lg-5 col-md-7 col-sm-9 col-12 no-gutters">
  <div class="input-group my-2" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['start_date']}}">
    <div class="input-group-prepend">
      <label class="input-group-text">start_date:&nbsp;</label>
    </div>
    <input type="date" [(ngModel)]="infrastructureApi.QueryPrameters.start_date">
  </div>
  <div class="input-group my-2" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['end_date']}}">
    <div class="input-group-prepend">
      <label class="input-group-text">end_date:&nbsp;</label>
    </div>
    <input type="date" [(ngModel)]="infrastructureApi.QueryPrameters.end_date">
  </div>
</div><br />
