<input type="date" class="mr-4" [(ngModel)]="infrastructureApi.QueryPrameters.start_date">
to
<input type="date" class="mx-4" [(ngModel)]="infrastructureApi.QueryPrameters.end_date"><br /><br />
<button type="button" class="btn btn-info mr-4" (click)="reloadNeoWsFeed()">Show</button>
<button type="button" class="btn btn-info ml-4" (click)="reloadNeoWsFeedForToday()">Show Today's Feed</button><br /><br />
<span class="w-100 font-size-2rem">
  <span class="font-size-h2">Element Count:</span>&nbsp;{{serviceResponseBodyList[baseService].element_count}}
</span>
<br />
<br />
  <div id="accordion" *ngFor="let date of NearEarthObjectsDatesList">
    <div class="card">
      <div class="card-header" attr.id="{{'card' + date}}">
        <h3 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" attr.data-target="{{'#collapse' + date}}" aria-expanded="true" attr.aria-controls="{{'#collapse' + date}}">
            <span class="fas fa-calendar-alt"></span>&nbsp;{{date}}
          </button>
        </h3>
      </div>
      <div attr.id="{{'collapse' + date}}" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="table-info">
                <tr>
                  <th scope="col" *ngFor="let column of columnDef">{{column}}</th>
                </tr>
              </thead>
              <tbody *ngFor="let row of serviceResponseBodyList[baseService].near_earth_objects[date]">
                <tr>
                  <td *ngFor="let column of columnDef">{{row[column]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
