<div class="container-fluid jumbotron-fluid mx-auto d-block pr-5 pb-5 mt-2">


  <div [ngSwitch]="infrastructureApi.baseService">
    <app-donki-cme-template *ngSwitchCase="'Coronal Mass Ejection (CME)'"></app-donki-cme-template>
    <app-donki-cme-analysis-template *ngSwitchCase="'Coronal Mass Ejection (CME) Analysis'"></app-donki-cme-analysis-template>
    <app-donki-gst-template *ngSwitchCase="'Geomagnetic Storm (GST)'"></app-donki-gst-template>
    <app-donki-ips-template *ngSwitchCase="'Interplanetary Shock (IPS)'"></app-donki-ips-template>
    <app-donki-flr-template *ngSwitchCase="'Solar Flare (FLR)'"></app-donki-flr-template>
    <app-donki-sep-template *ngSwitchCase="'Solar Energetic Particle (SEP)'"></app-donki-sep-template>
  </div>


  <div class="container-fluid col-xl-4 col-lg-5 col-md-7 col-sm-9 col-12 no-gutters" [ngSwitch]="infrastructureApi.baseService">
    <div class="w-100" *ngSwitchCase="'Coronal Mass Ejection (CME)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Coronal Mass Ejection (CME) Analysis'">
      <div class="w-100 input-group" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['estimated_diameter']}}">
        <div class="input-group-prepend">
          <label class="input-group-text">catalog</label>
        </div>
        <select class="custom-select" [(ngModel)]="infrastructureApi.QueryPrameters.catalog">
          <option *ngFor="let CMEAnalysisCatalogType of reloadTable(['catalog'])">{{CMEAnalysisCatalogType}}</option>
        </select>
      </div><br />
      <div class="w-100 my-2 row">
        <input type="checkbox" class="align-self-center offset-1" [(ngModel)]="infrastructureApi.QueryPrameters.mostAccurateOnly" (click)="reloadTable(['mostAccurateOnly','return'])">
        <span class="col-1 align-self-center">&nbsp;mostAccurateOnly</span>
      </div>
      <div class="w-100 my-2 row">
        <input type="checkbox" class="align-self-center offset-1" [(ngModel)]="infrastructureApi.QueryPrameters.completeEntryOnly" (click)="reloadTable(['completeEntryOnly','return'])">
        <span class="col-1 align-self-center">&nbsp;completeEntryOnly</span>
      </div>
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Geomagnetic Storm (GST)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Interplanetary Shock (IPS)'">
      <div class="w-100 input-group" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['location']}}">
        <div class="input-group-prepend">
          <label class="input-group-text">location</label>
        </div>
        <select class="custom-select" [(ngModel)]="infrastructureApi.QueryPrameters.location">
          <option *ngFor="let option of reloadTable(['location'])">{{option}}</option>
        </select>
      </div><br />
      <div class="w-100 input-group" tabindex="0" data-toggle="tooltip" attr.title="{{infrastructureApi.DescDict.Parameters['catalog']}}">
        <div class="input-group-prepend">
          <label class="input-group-text">catalog</label>
        </div>
        <select class="custom-select" [(ngModel)]="infrastructureApi.QueryPrameters.catalog">
          <option *ngFor="let option of reloadTable(['catalog'])">{{option}}</option>
        </select>
      </div><br />
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Solar Flare (FLR)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Solar Energetic Particle (SEP)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable([infrastructureApi.baseService])">Show</button>
    </div>
  </div><br />
  <app-table-template></app-table-template>
  <br />
</div>
