<div class="container-fluid jumbotron-fluid mx-auto d-block pr-5 pb-5 mt-2">

  <div class="w-100">
    <app-filters-template></app-filters-template>
  </div>

  <div class="container-fluid col-xl-4 col-lg-5 col-md-7 col-sm-9 col-12 no-gutters" [ngSwitch]="infrastructureApi.baseService">
    <div class="w-100" *ngSwitchCase="'Coronal Mass Ejection (CME)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Coronal Mass Ejection (CME) Analysis'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Geomagnetic Storm (GST)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Interplanetary Shock (IPS)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Solar Flare (FLR)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Solar Energetic Particle (SEP)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Magnetopause Crossing (MPC)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Radiation Belt Enhancement (RBE)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Hight Speed Stream (HSS)'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'WSA+EnlilSimulation'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
    <div class="w-100" *ngSwitchCase="'Notifications'">
      <button type="button" class="btn btn-info mr-4" (click)="reloadTable()">Show</button>
    </div>
  </div><br />

  <app-table-template></app-table-template>
  <br />
</div>
