<div class="font-size-h4">
  <b>near_earth_object_count:</b>&nbsp;{{serviceResponseBodyList[this.baseService].near_earth_object_count}}<br />
  <b>close_approach_count:</b>&nbsp;{{serviceResponseBodyList[this.baseService].close_approach_count}}<br />
  <b>last_updated:</b>&nbsp;{{serviceResponseBodyList[this.baseService].last_updated}}<br />
  <br />
  {{serviceResponseBodyList[this.baseService].source}}<br />
  <a attr.href="{{serviceResponseBodyList[this.baseService].nasa_jpl_url}}" target="_blank">NASA's Center of Near Earth Object Studies</a><br />
</div>
