<div class="container-fluid row">
  <div class="container-fluid col-xl-4 col-lg-5 col-md-7 col-sm-9 col-12 no-gutters">
    <div class="w-100 input-group my-2">
      <div class="input-group-prepend">
        <label class="input-group-text">Page:&nbsp;</label>
      </div>
      <input type="text" [(ngModel)]="infrastructureApi.QueryPrameters.page">
      <div class="input-group-append">
        <label class="input-group-text">&nbsp;/&nbsp;{{maxPageNo}}</label>
      </div>
    </div>
    <div class="w-100 input-group my-2">
      <div class="input-group-prepend">
        <label class="input-group-text">Size:&nbsp;</label>
      </div>
      <input type="text" [(ngModel)]="infrastructureApi.QueryPrameters.size">
    </div><br />
    <div class="my-2">
      <div class="w-100 my-2 row">
        <input type="checkbox" class="align-self-center offset-1" [(ngModel)]="infrastructureApi.QueryPrameters.is_active" (click)="resetPageNumber()">
        <span class="col-1 align-self-center">&nbsp;is_active</span>
      </div>
      <button type="button" class="btn btn-info mr-4" (click)="reloadNeoWsBrowsePrevious()">Previous</button>
      <button type="button" class="btn btn-info mr-4" (click)="reloadNeoWsBrowse()">Show</button>
      <button type="button" class="btn btn-info mr-4" (click)="reloadNeoWsBrowseNext()">Next</button>
    </div>
  </div>
</div>
<br />
<span class="row w-100 font-size-2rem">
    <span class="font-size-h2">Total Element:</span>&nbsp;{{totalNoOfElements}}
</span>
<div class="table-responsive my-5">
    <table class="table table-bordered">
      <thead class="table-info">
        <tr>
          <th scope="col" *ngFor="let column of columnDef">{{column}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let row of this.serviceResponseBodyList[this.baseService].sentry_objects">
        <tr>
            <td *ngFor="let column of columnDef">{{row[column]}}</td>
          </tr>
      </tbody>
    </table>
  </div>
